{% extends 'therapy/base.html'%}

{% load static %}

{% load therapy_tags %}


{% block content %}
<h2> Профиль{{ user.first_name }} </h2> <span>({{ user.get_role_display }} )</span>

<div><a href="{% url 'update_user_info'  %}">редактировать профиль</a></div>

<hr>
{% if user.role == 2 %}
<div class="my_class">
<h3>это ваши заявки </h3>
    {% worker_profile user %}
</div>
{% elif user.role == 3 %}
<div class="my_class">

    {% admin_profile %}
</div>
{% else %}
<div>
    {% customer_profile %}
</div>
{% endif %}

<a  href="{% url 'logout' %}">ВЫЙТИ  </a>

{% endblock %}