{% extends 'therapy/base.html' %}
{% load static %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}


{% block content %}
<main>
 <a href='{% url "index" %}'>
    <h1>home</h1>
  </a>


<h1>THERAPY CLUB <span>(вход)</span></h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="вход">
</form>
    <hr>
   <h2>Не зарегестрированы ?</h2>
<a href='{% url "register" %}'>
    <h1>registration</h1>
  </a>
   <h2>Забыли пароль?</h2>
<a href='{% url "user_password_reset" %}'>
    <h1>восстановим его</h1>
  </a>

</main>
{% endblock %}